.banner__container {
    background-color: #f0f0f0;
    padding: 80px 0;
    text-align: center;
  }
  
  .banner__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .banner__card {
    flex: 1 0 300px; 
    margin: 20px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .banner__card:hover {
    transform: translateY(-5px);
  }
  
  .banner__card h4 {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .banner__card p {
    font-size: 20px;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .banner__content {
      flex-direction: column;
    }
    
    .banner__card {
      flex-basis: calc(100% - 40px);
    }
  }
  