


.contact-container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 900px;
}

.contact-info {
    background-color: #ff4081;
    color: #fff;
    padding: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info i {
    margin-right: 10px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    margin-right: 15px;
    cursor: pointer;
}

.contact-form {
    padding: 40px;
    width: 60%;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #ff4081;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

button {
    background-color: #ff4081;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e13570;
}
