body {
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #232f3e;
    color: white;
    padding: 20px;
}

.footer-top {
    text-align: center;
    margin-bottom: 20px;
}

.footer-top .back-to-top {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-middle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    color: #ff9900;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-logo img {
    width: 100px;
    margin-bottom: 10px;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

.footer-legal {
    margin-top: 10px;
}

.footer-legal p {
    margin-bottom: 10px;
}

.footer-legal ul {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    justify-content: center;
}

.footer-legal ul li {
    margin: 0 10px;
}

.footer-legal ul li a {
    color: white;
    text-decoration: none;
}

.footer-legal ul li a:hover {
    text-decoration: underline;
}