.section-header {
    text-align: center;
    margin: 2rem 0;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .gallery img {
    object-fit: cover; 
    border-radius: 10px;
  }
  @media (max-width: 768px) {
    .gallery img {
        width: 100%; 
        height: auto;
    }
  }
  