<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="kingsukhguesthouse, 9007062180, Kingsukh Guest House, Guest House in Purulia, Guset House in Manpur, Guest House in Baranti, Baranti Hills, +91 9007062180, +919007062180, 9007062180, Guest House, Hotel, Resort, Baranti, manpur, Purulia">
    <meta name="description" content="Kingsukh Guest House - Your ideal destination for a relaxing stay in Manpur,Baranti near Baranti Hill and Baranti Lake. Enjoy comfort, scenic views, and excellent hospitality. Call us at +91 9007062180.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="Rooms.css">
    <link rel="stylesheet" href="About.css">
    <link rel="stylesheet" href="Footer.css">
    <link rel="stylesheet" href="Services.css">
    <link rel="stylesheet" href="Gallery.css">
    <link rel="stylesheet" href="Banner.css">
    <link rel="stylesheet" href="Contact.css">
    
    <title>Kingsukh Guest House</title>
    <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          height: 100%;
      }
      .header {
          background-color: #343a40;
          color: white;
      }
      .nav__bar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 20px;
      }
      .nav__menu__btn {
          display: none; 
      }
      .nav__links {
          display: flex;
          list-style: none;
          padding: 0;
          margin: 0;
      }
      .nav__links li {
          margin: 0 10px;
      }
      .nav__links a {
          color: white;
          text-decoration: none;
          padding: 14px 20px;
      }
   
      .hero {
          background-image: url('https://www.kingsukhguesthouse.com/assets/ayodhya.webp'); /* Add your image path here */
          background-size: cover;
          background-position: center;
          color: white;
          text-align: center;
          padding: 70px 20px;
      }
      .hero h1 {
          font-size: 3em;
      }
      .hero p {
          font-size: 1.2em;
      }

      
      @media (max-width: 768px) {
          .nav__menu__btn {
              display: block;
              
          }
          .nav__links {
              display: none;
              flex-direction: column;
             
              width: 100%;
              position: absolute;
              top: 50px;
              left: 0;
          }
          .nav__links li {
              text-align: center;
              margin: 0;
          }
          .nav__links a {
              padding: 10px;
              display: block;
          }
      }
      
      .nav__links.show {
          display: flex;
      }

  </style>
  </head>
  <body style="height: 100%;">
    <header class="header">

      <section class="hero" style="height: 75vh;">
        <nav>
          <ul class="nav__links" id="nav-links">
            <li><a href="https://api.whatsapp.com/send/?phone=9391797784&text&type=phone_number&app_absent=0"><span style="margin-left:40px;border: 1px solid white transparent"><b>Kingsukh Guest House</b></span></a></li>
            <li><a href="#home" style="margin-left: 100px;"><b>Home</b></a></li>
            <li><a href="#about"><b>About</b></a></li>
            <li><a href="#services"><b>Services</b></a></li>
            <li><a href="#rooms"><b>Rooms</b></a></li>
            <li><a href="#gallery"><b>Gallery</b></a></li>
            <li><a href="#contact"><b>Contact Us</b></a></li>
            <li><a href="https://api.whatsapp.com/send/?phone=9391797784&text&type=phone_number&app_absent=0"><button class="btn" style="margin-left: 150px;width: 130px;height: 50px;"><b>BOOK NOW</b></button></a></li>
          </ul>
         
        </nav>
        <p style="margin-top: 200px;">Simple - Unique - Friendly</p>
        <h1><b><b>Make Yourself At Home</b></b></h1>
        <h1>In Our Guest House.</h1>
    </section>
    </header>
 
    <section class="section__container about__container" id="about" style="margin-top: 100px;">
      <div class="about__image">
        <img src="https://media.istockphoto.com/id/1396856251/photo/colonial-house.jpg?s=612x612&w=0&k=20&c=_tGiix_HTQkJj2piTsilMuVef9v2nUwEkSC9Alo89BM=" alt="about" data-sr-id="3" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;">
      </div>
      <div class="about__content">
        <p class="section__subheader"  >ABOUT US</p>
        <h2 class="section__header"  >The Best Holidays Start Here!</h2>
        <p class="section__description"  >
          A welcoming space to relax in and from which to explore Healdsburg. Book Now!
Amenities: Free WiFi and Parking, Complimentary Breakfast, Restaurant & Embark on a tranquil journey at our Kingsukh Guest House, enveloped by the scenic allure of Biharinath Hill, Baranti Hill, Susunia Hill, Joychandi Hill, Garhpanchkot, Baranti Dam, Maithon Dam, and the captivating Panchat Dam. Revel in the embrace of comfort, relish delightful meals, and unwind in our verdant garden oasis. Your ideal retreat beckons, promising a harmonious blend of nature's beauty and heartfelt hospitality. Explore the hidden gems of Purulia, creating memories that linger long after your stay. <br>
          </p><h4><a href="https://maps.app.goo.gl/7wYUEB4tvR7NMHbcA">Address:Hyderabad,Telangana India</a></h4>
          <h4><a href="tel:+919007062180"> Contact us: +91 9391797784 </a></h4>
          <br>
        <p></p>
        <div class="about__btn" data-sr-id="8" >
          <a href="https://api.whatsapp.com/send/?phone=9391797784&text&type=phone_number&app_absent=0">
            <button class="btn">BOOK NOW</button>
          </a>
        </div>
      </div>
    </section>

    <section class="section__container room__container" id="rooms" style="margin-top: 20px;">
      <p class="section__subheader" style="margin-left: 30px;">Our Living Room</p>
      <h2 class="section__header" style="margin-left: 30px;">The Most Memorable Rest Time Starts Here.</h2>
      <div class="room__grid">
        <div class="room__card" data-sr-id="10" >
          <div class="room__card__image">
            <img src="https://pix8.agoda.net/hotelImages/223/22356586/22356586_21020621400094844675.jpg?ca=17&ce=1" alt="room">
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>
          <div class="room__card__details">
            <h4>Cozy Haven Room</h4>
            <p>
              Escape to comfort in our Cozy Haven Room, a snug retreat designed for intimate relaxation.
            </p>
            <h5>Starting from <span>Rs. 1000/night</span></h5>
            <a href="https://api.whatsapp.com/send/?phone=9391797784&text&type=phone_number&app_absent=0">
              <button class="btn">BOOK NOW</button>
            </a>
          </div>
        </div>
        <div class="room__card">
          <div class="room__card__image">
            <img src="https://pix8.agoda.net/hotelImages/38007423/0/c9bee630a3d2bdb0a3f5765cca922185.jpg?ce=0" alt="room">
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>
          <div class="room__card__details">
            <h4>Spacious Serenity Suite</h4>
            <p>
              Indulge in luxury and ample space in our Spacious Serenity Suite, where tranquility meets roomy elegance.
            </p>
            <h5>Starting from <span>Rs. 1500/night</span></h5>
            <a href="https://api.whatsapp.com/send/?phone=9391797784&text&type=phone_number&app_absent=0">
              <button class="btn">BOOK NOW</button>
            </a>
          </div>  
        </div>
        <div class="room__card">
          <div class="room__card__image">
            <img src="https://pix8.agoda.net/hotelImages/agoda-homes/13354757/9dc0c7a5fdf62489cf2aaccd50b6328d.jpg?ca=10&ce=1" alt="room">
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>
          <div class="room__card__details">
            <h4>Spacious Serenity Suite</h4>
            <p>
              Indulge in luxury and ample space in our Spacious Serenity Suite, where tranquility meets roomy elegance.
            </p>
            <h5>Starting from <span>Rs. 1800/night</span></h5>
            <a href="https://pix8.agoda.net/hotelImages/548000/-1/84b297e950dfcaaba40f183c9238272e.jpg?ca=21&ce=0&s=100x100">
              <button class="btn">BOOK NOW</button>
            </a>
          </div>
      </div>
    </section>
   
    <section class="section__container service__container" id="services">
      <div class="service__image">
        <img src="https://th.bing.com/th?id=OIP.5A-wXQKX6T5YRYqHzJo95gHaGJ&w=274&h=227&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2">
      </div>
      <div class="service__content">
        <p class="section__subheader" data-sr-id="4" >Services</p>
        <h2 class="section__header" data-sr-id="6" >Strive Only For The Best</h2>
        <p class="section__description" data-sr-id="7" >
          Embark on a tranquil journey at our Kingsukh Guest House, enveloped by the scenic allure of Biharinath Hill, Baranti Hill, Susunia Hill, Joychandi Hill, Garhpanchkot, Baranti Dam, Maithon Dam, and the captivating Panchat Dam. Revel in the embrace of comfort, relish delightful meals, and unwind in our verdant garden oasis. Your ideal retreat beckons, promising a harmonious blend of nature's beauty and heartfelt hospitality. Explore the hidden gems of Purulia, creating memories that linger long after your stay. <br>
          </p><h4><a href="https://maps.app.goo.gl/7wYUEB4tvR7NMHbcA">Address: Beside Barshal Water Tank, Manpur, Barhanti, West Bengal 723156</a></h4>
          <h4><a href="tel:+919007062180"> Contact us: +91 9007062180 </a></h4>
          <br>
        <p></p>
        
        <div class="service__btn" data-sr-id="8" >
          <a href="https://api.whatsapp.com/send/?phone=9391797784&text&type=phone_number&app_absent=0">
            <button class="btn">BOOK NOW</button>
          </a>
        </div>
      </div>
    </section>

    <section class="section__container banner__container">
      <div class="banner__content">
        <div class="banner__card">
          <h4>100+</h4>
          <p>Bookings Completed</p>
        </div>
        <div class="banner__card">
          <h4>150+</h4>
          <p>Happy Customers</p>
        </div>
      </div>
    </section>

    <br>
    <br>

    <section id="gallery">
      <h2 class="section-header">Gallery</h2>
      <div class="gallery">
          <img src="https://th.bing.com/th?id=OIP.5AK_qq6IMMydalwtM0yQbgHaJ4&w=216&h=288&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="Image A" style="height: 70vh; width: auto;">
          <img src="https://www.kingsukhguesthouse.com/assets/ayodhya.webp" alt="Image B" style="height: 70vh; width: 51vw;">
          <img src="https://cf.bstatic.com/xdata/images/hotel/square600/520878265.webp?k=c86c56547be7dfe3f5d62bd7deac01db6544f0285affb3a4425e1eba6486faa8&o=" alt="Image C" style="height: 70vh; width: 20vw;">
          <img src="https://puruliatourism.com/wp-content/uploads/2023/01/muradi_lake__purulia__india_by_anuranit_ddh1om6-fullview.jpg" alt="Image D" style="height: 50vh; width: 52vw;">
          <img src="https://cf.bstatic.com/xdata/images/hotel/square600/476528447.webp?k=33f9bcccda7508bbf59d17c8dc7aa906d46cfe326a23fd8243f227a016f7633f&o=" alt="Image E" style="height: 50vh; width: 20vw;">
          <img src="https://cf.bstatic.com/xdata/images/hotel/square600/504895402.webp?k=c96f955eebe831b7d6f43a733f62c9cf104aeb55dab8a70e9076dfc0c38a23f9&o=" alt="Image F" style="height: 50vh; width: auto;">
          <img src="https://cf.bstatic.com/xdata/images/hotel/square600/308912254.webp?k=a08a6e5cda726e7615ecc1120cbbf0f1c2f77d3449cb597ba569ca83dbc0ad89&o=" alt="Image G" style="height: 50vh; width: 21vw;">
          <img src="https://cf.bstatic.com/xdata/images/hotel/square600/308912254.webp?k=a08a6e5cda726e7615ecc1120cbbf0f1c2f77d3449cb597ba569ca83dbc0ad89&o=" alt="Image G" style="height: 50vh; width: auto;">
          <img src="https://cf.bstatic.com/xdata/images/hotel/square600/308912254.webp?k=a08a6e5cda726e7615ecc1120cbbf0f1c2f77d3449cb597ba569ca83dbc0ad89&o=" alt="Image G" style="height: 50vh; width: auto;">
          <img src="https://cf.bstatic.com/xdata/images/hotel/square600/308912254.webp?k=a08a6e5cda726e7615ecc1120cbbf0f1c2f77d3449cb597ba569ca83dbc0ad89&o=" alt="Image G" style="height: 50vh; width: auto;">
      </div>
  </section>

<section class="contact_information" id="contact">
  <div class="contact-container" style="margin-left: 270px;margin-top: 150px;margin-bottom: 150px;">
    <div class="contact-info">
        <h2>Contact Info</h2>
        <p>
            <i class="fas fa-map-marker-alt"></i> Beside Barshal Water Tank,<br>
            Manpur, Barhanti,<br>
            West Bengal 723156
        </p>
        <p>
            <i class="fas fa-envelope"></i> kkghosh0099@gmail.com
        </p>
        <p>
            <i class="fas fa-phone"></i> +91 9007062180
        </p>
        <div class="social-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
        </div>
    </div>
    <div class="contact-form">
        <h2>Send a Message</h2>
        <form>
            <div class="form-group">
                <input type="text" id="first-name" placeholder="First Name">
                <input type="text" id="last-name" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="email" id="email-address" placeholder="Email Address">
                <input type="text" id="mobile-number" placeholder="Mobile Number">
            </div>
            <div class="form-group">
                <textarea id="message" placeholder="Write your message here..."></textarea>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>
</div>
</section> 

  <div class="map-container" style="margin-top: 50px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.5017351225647!2d86.85721547510981!3d23.586332378782714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f6e3fdd3ff9ebb%3A0x517a57e3f93c1807!2sKingsukh%20Guest%20House!5e0!3m2!1sen!2sin!4v1705088034844!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <footer class="footer" style="margin-top: 60px;">
    <div class="footer-middle">
        <div class="footer-section">
            <h3>Kingsukh Guest House</h3>
            <ul>
                <li><p>Discover a world of comfort, luxury, and</p></li>
                <li><p>adventure as you explore our curated</p></li>
                <li><p>selection of hotels, making every</p></li>
                <li><p>moment of your getaway truly extraordinary.</p></li>
                
            </ul>
        </div>
        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Browse Destinations</a></li>
                <li><a href="#">Special Offers & Packages</a></li>
                <li><a href="#">Room Types & Amenities</a></li>
                <li><a href="#">Customer Reviews & Ratings</a></li>
                <li><a href="#">Travel Tips & Guides</a></li>
                
            </ul>
        </div>
        <div class="footer-section">
            <h3>OUR SERVICES</h3>
            <ul>
                <li><a href="#">Concierge Assistance</a></li>
                <li><a href="#">Flexible Booking Options</a></li>
                <li><a href="#">Airport Transfers</a></li>
                <li><a href="#">Wellness & Recreation</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>CONTACT US</h3>
            <ul>
                <li><a href="#">Address: Beside Barshal Water Tank,</a></li>
                <li><a href="#">Manpur, Barhanti, West Bengal 723156</a></li>
                <li><a href="#">kkghosh0099@gmail.com</a></li>
                <li><a href="#">+91 9007062180</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-social">
            <div class="social-icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
          </div>
        </div>
        <div class="footer-legal">
            <p>&copy; 2024 Kingsukh Guest House. All rights reserved.</p>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">CA Supply Chain Act</a></li>
                <li><a href="#">Cookie Preferences</a></li>
            </ul>
        </div>
    </div>
</footer>

    

    <script src=""></script>
    <script src=""></script>
  

</body>