.service {
    background-color: #f9f9f9;
    padding: 80px 0;
  }
  
  .service__container {
    max-width: 12000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  
  .service__image {
    flex: 1;
    text-align: center;
    margin: 20px;
    /* width: 1000px; */
    /* height: 20vh; */
  }
  
  .service__image img {
    max-width: 12000px;
    height: 480px;
    border-radius: 10px;
  }
  
  .service__content {
    flex: 1;
    padding: 20px;
  }
  
  .section__subheader {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .section__header {
    font-size: 36px;
    color: #222;
    margin-bottom: 20px;
  }
  
  .section__description {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
  }
  
  .service__btn {
    margin-top: 20px;
  }
  
  .service__btn .btn {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .service__btn .btn:hover {
    background-color: #e68900;
  }